{% extends 'base.html' %}

{% block title %}
Books Details
{% endblock title %}

{% block body %}
<br>
<div class="row">
    <div class="col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="/static/dbms.jpg " >
            <br>
            <h4> Data bas Management System <br> By S.Chand</h4> 
        </div>
    </div>
    <div class="col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="/static/dwdm.jpg " >
            <br>
            <h4> Data WareHousing and Data Mining<br> </h4> 
        </div>
    </div>
    <div class="col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="/static/grb.jpg " >
            <br>
            <h4> Organic Chemistry<br>By Grb</h4> 
        </div>
    </div>
    <div class="col-lg-4 col-xs-6">
        <div class="thumbnail">
            <img src="/static/cns.jpg " >
            <br>
            <h4> Cryptography and Network Security<br></h4> 
        </div>
    </div>
</div>
{% endblock body %}